@font-face {
    /* font titres : Proxima Nova */
    font-family: 'font1';
    src: url(/test-technique-wcs/assets/fonts/font1.otf);
}

@font-face {
    /* font text : Poppins */
    font-family: 'font2';
    src: url(/test-technique-wcs/assets/fonts/font2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(241 245 249);

}

.navbar {
    font-family:'font1';
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -3.5pt;
    color: black;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    letter-spacing: -0.3pt;
    font-size: 1.3rem;
}

.menulink {
    color: black;
    transition: 500ms;
}

.menulink:hover {
    color: rgb(56 189 248);
}

.select {
    color: rgb(56 189 248);

}

.menu-burger {
    width: 25px;
    height: 25px;
    display: none;
}

.section-assets {
    padding: 20px 50px;
    max-width: 1200px;
    margin: 60px auto 60px auto;
}

h2 {
    margin-bottom: 20px;
    font-family: 'font1';
    font-size: 2rem;
}

table {
    font-family: 'font2';
    text-align: center;
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
    margin: 100px auto;
    border-radius: 5px;
}

thead {
    background-color: rgb(56 189 248);
    border-bottom: 1px solid rgb(180, 180, 180);
    color: white;
    font-family: 'font2';
}

th, td {
  padding: 10px 15px;  
}

tbody tr:nth-child(even) {
    background-color: rgb(226 232 240);
}


@media screen and (max-width: 700px) {
    .menu-burger {
        display: block;
        z-index: 10;
    }
       
    
    .navbar {
        display: flex;
        align-items: center;
    }
    
    .navlinks {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(232, 236, 245, 0.685);
        backdrop-filter: blur(7px);
        width: 100vw;
        height: 100vh;
        font-size: 1.8rem;
        transform: translateX(-1000%);
        z-index: 2;
        
    }
    
    .mobile-menu {
        transform: translateX(-10%);
    }

    table, thead, tbody, tr, th, td {
        display: block;
    }

    thead {
        display: none;
    }

    td {
        padding-left: 150px;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: rgb(56 189 248);
        color: white;
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    
}

